.text__border{
    text-decoration: none;
}
.text__midle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}
.rest {
    border: 1.5px solid #212529;
    border-radius: 25px; 
    height: 300px; 
    width: 250px;
    padding: 15px;
    margin: 30px 15px 30px 15px;
}
.rests {
    display: flex;
    justify-content: center;
}
.butn {
    border: 1.5px solid #0d6efd;
    border-radius: .25rem;
    color: #0d6efd;
    background-color:white;
    width: 215px;
    height: 40px;
    margin-top: 15px;
}
.butn:hover {
    color: white;
    background-color: #0d6efd;    
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.text__header {
    text-align: center;

}
.img__rests{
    height: 150px;
    width: 215px;
}
.choise {
    display: flex;
}
.first__line {
display: flex;}
.first__line__butns {
    padding: 15px;
}
.first__line__rests {
display: flex;
}
.other__rests {
    display: flex;
}
.other__rests__info{
    width: 245px;
}

.top__imges{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;

}
.go__menu{
    text-align: center;
}


/* courier.php */

.courier__header{
    height: 60px;
    border: 1.5px solid #212529;
    display: flex;
    text-align: center;
}
.courier__headtext{
    padding-top: 10px;
    font-size: 20px;
}

.orders__list{
    border: 1.5px solid #212529;
    border-radius: 25px; 
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;

}
.courier__butn{
    width: 300px;
    margin-left: 65px;
    margin-top: 20px;
}
/*============= */
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.header__mobile{
    display: none;        
}
.header__pc{
    display: block;
}
.block__element{
    width: 100%;
    margin: 5px;
}
.user__info{
    margin: 10px;
}

@media (max-width: 768px) {
    .header__mobile{
        display: block;        
    }
    .header__pc{
        display: none;
    }
    .rests{
        display: grid;
    }
    .rest{
        width: auto;
        height: 165px;
        margin: 10px;
    }
    .img__rests{
        height: 100px;
        width: auto;
    }
    .butn {
        margin: 10px;
    }
    /*============= */
    .first__line__butns{
        display: none;
    }
    .first__line__rests{
        width: auto;
        height: 165px;
        margin: 10px;
        display: grid; 
    }
    .first__line{
        display: grid;
    }
    .other__rests{
        display: none;
    }
        /*============= */
    

  
    
}